In [1]:
from pymongo import MongoClient
import numpy as np
import pandas as pd

In [50]:
client = MongoClient("localhost:27018")
database = client["steemdb_1"]
collection_comment = database["comment"]
collection_account = database["account"]

Load comments from MongoDB

In [65]:
cursor_comment = collection_comment.find({}, 
                                         {
                                            "reward_weight" : 1.0,
                                            "net_rshares" : 1.0,
                                            "net_votes" : 1.0,
                                            "total_payout_value" : 1.0,
                                            "root_comment" : 1.0,
                                            "last_payout" : 1.0,
                                            "depth" : 1.0
                                         })

In [66]:
comment_df = pd.DataFrame(columns=['reward_weight', 
                                   'net_rshares',
                                   'total_payout_value',
                                   'net_votes', 
                                   'root_comment',
                                   'last_payout',
                                   'depth'])
for comment in cursor_comment:
    comment_df = comment_df.append(pd.DataFrame(comment, index=[len(comment_df)]))
comment_df.head()

CursorNotFound: Cursor not found, cursor id: 118221130313

Load topics from MongoDB

In [ ]:
cursor_topic = collection_topic.find({
                                            "depth" : 0.0
                                         }, 
                                         {
                                            "reward_weight" : 1.0,
                                            "net_rshares" : 1.0,
                                            "net_votes" : 1.0,
                                            "total_payout_value" : 1.0,
                                            "root_comment" : 1.0,
                                            "last_payout" : 1.0
                                         })

In [ ]:
topic_df = pd.DataFrame(columns=['reward_weight', 
                                   'net_rshares',
                                   'total_payout_value',
                                   'net_votes', 
                                   'root_comment',
                                   'last_payout'])
for topic in cursor_topic:
    topic_df = topic_df.append(pd.DataFrame(topic, index=[len(comment_df)]))
topic_df.head()

Constants

In [ ]:
S = 2000000000000
PERCENT = 10000
precision = 3

Load accounts from MongoDB

In [59]:
cursor_account = collection_account.find({}, {
                                                "_id" : 1.0,
                                                "name" : 1.0,
                                                "created" : 1.0,
                                                "id" : 1.0,
                                                "voting_power" : 1.0,
                                                "balance" : 1.0,
                                                "curation_rewards" : 1.0,
                                                "posting_rewards" : 1.0,
                                                "sbd_balance" : 1.0,
                                                "total_sbd_balance" : 1.0,
                                                "total_balance" : 1.0       
                                             })

In [61]:
account_df = pd.DataFrame(columns=[ "_id",
                                    "name",
                                    "created",
                                    "id",
                                    "voting_power",
                                    "balance",
                                    "curation_rewards",
                                    "posting_rewards",
                                    "sbd_balance",
                                    "total_sbd_balance",
                                    "total_balance"])
for account in cursor_account:
    account_df = account_df.append(pd.DataFrame(account, index=[len(account_df)]))
account_df.head()

,_id,balance,created,curation_rewards,id,name,posting_rewards,sbd_balance,total_balance,total_sbd_balance,voting_power
0,testzcrypto-04,0.000,2016-10-18 11:04:27,1.0,8382,testzcrypto-04,0.0,0.000,0.000,0.000,9950
1,testz,8.765,1970-01-01 00:00:00,15602613.0,927,testz,11752710.0,719.465,8.765,719.465,9987
2,egorsv,34470.472,2016-10-18 11:04:51,3762.0,8395,egorsv,0.0,0.006,34470.472,0.006,9856
3,alcotester,0.113,2016-10-18 11:04:45,3659239.0,8389,alcotester,0.0,48.450,0.113,48.450,4625
4,primus,15251.357,1970-01-01 00:00:00,38141143.0,3151,primus,91744955.0,461.782,15251.357,461.782,9868

In [67]:
account_df.head(110)

,_id,balance,created,curation_rewards,id,name,posting_rewards,sbd_balance,total_balance,total_sbd_balance,voting_power
0,testzcrypto-04,0.000,2016-10-18 11:04:27,1.0,8382,testzcrypto-04,0.0,0.000,0.000,0.000,9950
1,testz,8.765,1970-01-01 00:00:00,15602613.0,927,testz,11752710.0,719.465,8.765,719.465,9987
2,egorsv,34470.472,2016-10-18 11:04:51,3762.0,8395,egorsv,0.0,0.006,34470.472,0.006,9856
3,alcotester,0.113,2016-10-18 11:04:45,3659239.0,8389,alcotester,0.0,48.450,0.113,48.450,4625
4,primus,15251.357,1970-01-01 00:00:00,38141143.0,3151,primus,91744955.0,461.782,15251.357,461.782,9868
5,testzcrypto-01,0.000,2016-10-18 11:04:18,2.0,8379,testzcrypto-01,0.0,0.000,0.000,0.000,9950
6,testzcrypto-02,0.000,2016-10-18 11:04:21,1.0,8380,testzcrypto-02,0.0,0.000,0.000,0.000,9950
7,testzcrypto-03,0.000,2016-10-18 11:04:24,1.0,8381,testzcrypto-03,0.0,0.000,0.000,0.000,9950
8,testzcrypto-05,0.000,2016-10-18 11:04:30,1.0,8383,testzcrypto-05,0.0,0.000,0.000,0.000,9950
9,testzcrypto-06,0.000,2016-10-18 11:04:33,0.0,8384,testzcrypto-06,0.0,0.000,0.000,0.000,10000
10,testzcrypto-07,0.000,2016-10-18 11:04:36,0.0,8385,testzcrypto-07,0.0,0.000,0.000,0.000,10000
11,testzcrypto-08,0.000,2016-10-18 11:04:39,0.0,8386,testzcrypto-08,0.0,0.000,0.000,0.000,10000
12,testzcrypto-09,0.000,2016-10-18 11:04:42,0.0,8388,testzcrypto-09,0.0,0.000,0.000,0.000,10000
13,testzcrypto-10,0.000,2016-10-18 11:04:45,0.0,8391,testzcrypto-10,0.0,0.000,0.000,0.000,10000
14,testzcrypto-11,0.000,2016-10-18 11:04:48,0.0,8394,testzcrypto-11,0.0,0.000,0.000,0.000,10000
15,testzcrypto-12,0.000,2016-10-18 11:04:51,0.0,8396,testzcrypto-12,0.0,0.000,0.000,0.000,10000
16,ij80,0.000,2016-10-18 11:04:42,496.0,8387,ij80,0.0,0.000,0.000,0.000,9950
17,creator,0.123,1970-01-01 00:00:00,0.0,2181,creator,0.0,1.094,0.123,1.094,10000
18,gfunk,0.006,2016-10-18 11:06:12,0.0,8415,gfunk,0.0,0.000,0.006,0.000,9905
19,pfunk,10904.504,1970-01-01 00:00:00,294575.0,1320,pfunk,2279522.0,49.331,10904.504,49.331,9295
20,gfunk01,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,gfunk02,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,gfunk03,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,gfunk04,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,gfunk05,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,gfunk06,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,cyberfounder,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,cyberdrop,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,golos,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,crowdsale,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
80,instructor2121,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,seneka,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,chetlanin,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,dailis,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,inbamn12,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,shyletcs,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,boroda,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,kirkudu,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,rueainc,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,analise,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,yulia,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,vlad23,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,trader999,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,initminer,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,admin,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,dark,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,nxt1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,nxt,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,nxt2,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,administrator,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,dantheman,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,any,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,nxt3,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,cloop1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,dantheman5,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,nxt4,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,thisisnice,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,moderator,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,dantheman1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,cloop2,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Economy analysis

# constants
s = 2000000000000

PERCENT = 10000

precision=3 # точность токенов после запятой 0.000
# размер rshares ???
# rshares - показатель ценности поста  vote_evaluator::do_apply
# reward_weight - текущей процентный выплат из пула вознаграждений
#uint16_t(std::min(                                    #(STEEMIT_POST_WEIGHT_CONSTANT_PRE_HF17 * #STEEMIT_100_PERCENT) /(post_bandwidth.value * post_bandwidth.value), uint64_t(STEEMIT_100_PERCENT)))
#void comment_evaluator::do_apply(const operation_type &o)
# 
# total_reward_fund_steem - показатель заполненности пула вознаграждений в токенах на данный момент
# total_reward_shares2 - суммарный всех выплат под комментариями и постами в к rshares2 которые ждут выплат
rshares = comment_reward_context.rshares (comment.net_rshares)
rs = rshares # comment_reward_context 
# ???
reward_weight = comment_reward_context.reward_weight (comment.reward_weight)
# сколько всего было выплачено ???
rf = total_reward_fund_steem.amount # comment_reward_context 
# 2 в конце означает квадрат
# ???
total_rshares2 = total_reward_shares2 (global_property.total_reward_shares2) # comment_reward_context 
# 
rs2 = (rshares+s) ^2 -s^2
# 
rs2 = (rs2 * reward_weight) / PERCENT;  
# 
payout = (rf * rs2) / total_rshares2;   # 
If payout < 1/pow(10,precision):
	payout=0
# ассет ???
max_steem = current_steem_price*max_sbd;
# current_steem_price (current_mediation_history.)
Добавить в process_op ‘feed_publish’
Feed_publish.publisher
Feed_publish.exchange_rate.(base) (quote)
amount & symbol


# max_sbd (comment.max_accepted_payout)
# выбираем минимум
payout = min(payout, max_steem.amount.value)  -  сколько будет в Голосах (Золотые)

Найти метод в ноде:
get_panding_payout
comment.last_payout - время выплаты
comment.total_payout_value

In [62]:
print(account_df.info())
print(comment_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170189 entries, 0 to 170188
Data columns (total 11 columns):
_id                  170189 non-null object
balance              20 non-null float64
created              20 non-null datetime64[ns]
curation_rewards     20 non-null float64
id                   20 non-null object
name                 20 non-null object
posting_rewards      20 non-null float64
sbd_balance          20 non-null float64
total_balance        20 non-null float64
total_sbd_balance    20 non-null float64
voting_power         20 non-null object
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 15.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 91318 entries, 0 to 91317
Data columns (total 7 columns):
_id                   91318 non-null object
last_payout           91318 non-null datetime64[ns]
net_rshares           91318 non-null float64
net_votes             91318 non-null object
reward_weight         91318 non-null object
root_comment          91318 non-null object
total_payout_value    91318 non-null float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 5.6+ MB
None

In [63]:
# comment_df.to_csv("comments3.csv", index=False)

In [64]:
account_df.to_csv("accounts.csv", index=False)